@()
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>XCT Engine</title>
  </head>

  <body>
    <h1>XCT Engine</h1>

    <p>
      To see all posts, you can do a GET: <code>curl http://localhost:9000/v1/posts</code>
    </p>

    <p>
      To create new posts, do a post
    <p>

<pre>
    <code>http POST localhost:9000/v1/posts title="Some title" body="Some Body"</code>
</pre>

<p>
  You can always look at the API directly: <a href="/v1/posts">/v1/posts</a>
</p>

  </body>
</html>
